[submodule "src/server/lib/node-router"]
	path = src/server/lib/node-router
	url = http://github.com/creationix/node-router.git
[submodule "apps/lib/node-router"]
	path = apps/lib/node-router
	url = http://github.com/creationix/node-router.git
[submodule "src/client/lib/socket.io-client"]
	path = src/client/lib/socket.io-client
	url = https://github.com/LearnBoost/socket.io-client.git
